includes:
    - vendor-bin/tools/vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor-bin/tools/vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
  level: max
  paths:
    - src
    - tests
